* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
.iconfont {
	font-size: 16px;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
#header {
	width: 100%;
	height: 50px;
	padding: 10px 50px 10px 70px;
	background: #06c1ae;
	border-bottom: 1px solid #21897d;
}
#header .city{
	position: relative;
	right: 60px;
	float: left;
	display: inline-block;
	width: 60px;
	height: 30px;
	line-height: 30px;
	color: white;
	margin-right: -100%;
}
#header .city .iconfont {
	color: white;
}
#header  .soso {
	position: relative;
	float: left;
	width :100%;
	height: 30px;
}
#header  .soso input {
	display: inline-block;
	width: 100%;
	height: 30px;
	padding-left: 16px;
	background: #05a494;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}
#header  .soso ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #33d7ca;
		font-size: 14px;
}
#header  .soso input:focus {
	outline: none;
}
#header  .soso i {
	position: absolute;
	left: 0;
	top: 15px;
	margin-top: -8px;
	color: white;
}
#header .overall {
	position: relative;
	left: 50px;
	top: -10px;
	float: left;
	display: block;
	width: 50px;
	height:40px;
	line-height: 40px;
	margin-left: -50px;
	text-align: center;
	font-size: 14px;
	color: white;
}
#header .overall p {
	margin-top: -22px;
	font-size: 12px;
}
#header .overall  .iconfont {
	font-size: 24px;
	color: white;
}
.show-overall {
	position: relative;
	width: 100%;
	height: 180px;
	overflow: hidden;
	border-bottom: 1px #ddb8ce solid;
}
.show-overall .show {
	width: 100%;
	height: 180px;
	float: left;
}
 .show-list li {
	float: left;
	width: 20%;
	padding-top: 10px;
	height: 83px;
	text-align: center;
	font-size: 0;
}
.show-list li  a{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #666666;
	font: 12px/1.2 Helvetica, Arial, sans-serif;
}
 .show-list li  span {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	text-align: center;
}
 .show-list li .iconfont {
	font-size: 30px;
	line-height: 40px;
	color: white;
}
.show-list li .icon-orange {
	background: #fd9d21;
}
.show-list li .icon-red {
	background: #ff6767;
	
}
.show-list li .icon-red .iconfont {
	font-size: 40px;
	line-height: 44px;
}
.show-list li .icon-purple {
	background: #8a90fa;
	
}
.show-list li .icon-purple .iconfont {
	font-size: 22px;
}
.show-list li .icon-yellow{
	background: #fed030;
}
.show-list li .icon-blue{
	background: #4dc6ee;
}
.show-list li .icon-blue1{
	background: #00d3be;
}
.show-list li .icon-violet{
	background: #ff80c2;
}
.show-list li .icon-cyan{
	background: #599eec;
}
.show-list li .icon-green1 {
	background: #a8dd99;
}

.show-list li .icon-green2 {
	background: #84d23d;
}
.show-list li .icon-green2 .iconfont{
	font-size: 22px;
	line-height: 44px;
}
.show-list li .icon-green3 {
	background: #6acf30;
}
.show-list li .icon-green3 .iconfont{
	font-size: 22px;
	line-height: 44px;
}
.show-list li  p {
	margin-top: 8px;
}

.show-overall .dot {
	position :absolute;
	bottom: 9px;
	left: 50%;
	transform: translateX(-50%);
}
.show-overall .dot li {
	float: left;
	width: 10px;
	height: 10px;
	margin-right: 20px;
	border-radius: 100%;
	background: #f0efed;
}
.show-overall .dot .dot-2 {
	margin-right: 0;
}
.show-overall .dot .active {
	background: #06c1ae;
}
.publicity {
	width :100%;
	height: 185px;
	margin-top: 12px;
	border-top: 1px solid #ddd8ce;
	border-bottom: 1px solid #ddd8ce;
	padding-top: 14px;
}

.publicity  h3 {
	font: bold 15px/15px Helvetica, Arial, sans-serif;
}
.publicity  p{
	font: 12px/12px Helvetica, Arial, sans-serif;
	color: #666666;
}
.publicity-list1 {
	float: left;
	width: 40%;
	height: 165px;
	padding-top: 20px;
	text-align: center;
	border-right: 1px solid #ddd8ce;
}
.publicity-list1 img {
	width: 100px;
	height: 100px;
}
.publicity-list1 h3 {
	width: 85px;
	color: #55a40f;
	margin: 0 auto;
	text-align: left;
}
.publicity-list1 p,.publicity-list2 p{
	margin-top: 15px;
}
.publicity-li {
	float: left;
	width: 60%;
	height: 165px;
}
.publicity-list2 {
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #ddd8ce;

}
 .publicity-list2 .life {
		width: 200px;
		height: 80px;
		padding-top: 20px;
		margin: 0 auto;
		text-align: left;
		background: url(https://img.alicdn.com/imgextra/i3/1036020250/TB2P.FIj3FkpuFjSspnXXb4qFXa_!!1036020250.jpg) no-repeat right center;
		background-size: 100px 75px;
}
 .publicity-list2 .life h3 {
	 color: #ff3f0d;
 }
 .publicity-lis>a {
	 float: left;
	 width: 50%;
	 height: 85px;
	 padding-top: 4px;
 }
 .publicity-lis .publicity-list3  {
	 border-right: 1px solid #ddd8ce;
	
 }
 .publicity-lis  p {
	 line-height: 30px;
 }
 .publicity-lis .publicity-list3 img {
	 width :40px;
	 height: 40px;
 }
.publicity-list3 .life, .publicity-list4 .life {
	width :100px;
	margin: 0 auto;
	text-align: left;
}
.publicity-list3 .life {
	width: 90px;
	height: 80px;
	background: url(https://img.alicdn.com/imgextra/i1/1036020250/TB2V.e8j9BjpuFjy1XdXXaooVXa_!!1036020250.png) no-repeat right bottom;
	background-size: 40px 40px;
}
.publicity-list4  {
	font-size: 0;
}
.publicity-list4 .colon{
	font: 14px/14px Arial;

}
.publicity-list4 .timimg {
	display: inline-block;
	border: 1px solid;
	font-size: 0px;
}
.publicity-list4 .time {
	display: inline-block;
	width: 22px;
	height: 14px;
	line-height: 14px;
	border-radius: 4px;
	background:#4c4c4c;
	color: white;
}
.publicity-list3  h3 {
	color: #f742a0;
}
.publicity-list4  h3 {
	color: #ff8401;
}